@font-face {
  font-family: "Inter var";
  src: url("../Inter.var.woff2");
}

body {
  padding: 1.6em 2em 4em;
  letter-spacing: -0.011em;
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  color: #34495e;
  background: #f1f3f5;
}

#root,
.App {
  width: 100%;
}

h1 {
  font-weight: 900;
  margin: 0.4em 0 0.6em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.dateTodayHeading {
  margin-top: 10px;
  margin-left: 10px;
}

.today {
  display: flex;
  flex-direction: column;
}

.todayData {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 15px;
}

.mapbox-map {
  width: 60vw;
  height: 40vh;
  margin-bottom: 15px;
}

.mapboxgl-popup-content {
  padding-bottom: 5px;
}

.barPlot {
  transform: translateX(-45px);
}
.ui.styled.accordion .title.positivity-rate-title {
  padding: 0;
}
@media only screen and (min-device-width: 350px) {
  .ui.vertical.menu .item {
    padding-left: 8px;
  }
}
@media only screen and (min-device-width: 768px) {
  .today {
    justify-content: space-around;
  }
  .todayData {
    flex-direction: row;
    align-items: flex-start;
  }
  .mapbox-map {
    width: 35vw;
    height: 50vh;
    margin-bottom: 15px;
    margin-left: 50px;
  }

  .barPlot {
    transform: translateX(10px);
  }
}

@media screen and (max-device-width: 1366px) and (min-device-width: 768px) {
  .mapbox-map {
    height: 20vh;
  }
}

.positivity-button {
  background: maroon;
}

.positivity-gauge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.ui.styled.accordion.accordion-containier {
  margin-top: 15px;
  box-shadow: none;
}

.ui.attached.segment.inner-tab {
  border: none;
}
.accordion-title {
  font-weight: 500;
  color: rgba(145, 61, 136, 0.4);
}

.Gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
p {
  margin: 0;
}
h2,
h3 {
  margin: 0;
}
.dateStateData {
  display: flex;
}
/* placeholders */
.placeholder {
  background: #ecf0f1;
}

.loader-msg {
  margin-top: 15px;
}
table {
  border-style: collapse;
}

.tableFormat {
  overflow: hidden;
}

th {
  border-bottom: 1px solid salmon;
}

.rect-bar:hover {
  fill: #f5ab35;
}

.today-bar-tooltip {
  opacity: 0;
  position: absolute;
  top: -12px;
  left: 0;
  padding: 0.6em 1em;
  background: #fff;
  /* text-align: center; */
  /* border: 1px solid #ddd; */
  box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
  z-index: 10000;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.today-bar-tooltip:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltip-title {
  margin-bottom: 0.2em;
  font-weight: 700;
}

.tooltip-bar-value {
  font-size: 0.7em;
}

.tooltip-bar {
  margin-bottom: 0.5em;
  position: relative;
  width: 100%;
  height: 0.6em;
  background: #eaeaea;
}

.tooltip-bar-item {
  background: #30336b;
  height: 100%;
}

.Timeline {
  height: 300px;
  min-width: 500px;
  width: calc(100% + 1em);
  margin-bottom: 2em;
}

.Histogram {
  height: 500px;
  flex: 1;
  min-width: 500px;
  overflow: hidden;
}

.ScatterPlot {
  height: 500px;
  width: 500px;
  margin-right: 2em;
}

.App__charts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5em;
}

.Timeline,
.ScatterPlot,
.Histogram {
  background: white;
  padding: 0.6em 1em;
  margin: 0.5em;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -14px;
  left: 0;
  padding: 0.6em 1em;
  background: #fff;
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  border: 1px solid #ddd;
  z-index: 10;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.tooltip:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltip-date {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
}

.listening-rect {
  fill: transparent;
}
